In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "Marks": [45, 50, 52, 48, 47, 49, 51, 300]  # 300 is extreme value
}

df = pd.DataFrame(data)
df

   Marks
0     45
1     50
2     52
3     48
4     47
5     49
6     51
7    300

In [3]:
mean = df["Marks"].mean()
std = df["Marks"].std()

print("Mean:", mean)
print("Standard Deviation:", std)

Mean: 80.25
Standard Deviation: 88.82044487938252

In [4]:
df["Z_score"] = (df["Marks"] - mean) / std
df

   Marks   Z_score
0     45 -0.396868
1     50 -0.340575
2     52 -0.318057
3     48 -0.363092
4     47 -0.374351
5     49 -0.351833
6     51 -0.329316
7    300  2.474093